node-red/serial_com/flows.json
[
    {
        "id": "hand-detection-flow",
        "type": "tab",
        "label": "Hand Detection",
        "disabled": false,
        "info": "Flow for processing hand detection data from Python"
    },
    {
        "id": "f073f47f8e86641d",
        "type": "http in",
        "z": "hand-detection-flow",
        "name": "Hand Detection Input",
        "url": "/hand-detection",
        "method": "post",
        "upload": false,
        "swaggerDoc": "",
        "x": 100,
        "y": 300,
        "wires": [
            [
                "0ce82e519618b1ca"
            ]
        ]
    },
    {
        "id": "0ce82e519618b1ca",
        "type": "json",
        "z": "hand-detection-flow",
        "name": "",
        "property": "payload",
        "action": "",
        "pretty": false,
        "x": 270,
        "y": 300,
        "wires": [
            [
                "4f96e230c5e7be41"
            ]
        ]
    },
    {
        "id": "4f96e230c5e7be41",
        "type": "function",
        "z": "hand-detection-flow",
        "name": "Process Hand Data",
        "func": "const payload = msg.payload;\nconst type = typeof(payload) === 'string';\nconst data = type ? JSON.parse(payload).data : payload.data;\n\nlet isGreenBtn = null;\nlet isRedBtn = null;\n\nif(data.button && data.action) {\n    if(data.button === \"red\") {\n        isRedBtn = {\n            payload: true\n        }; \n    }\n    else if(data.button === \"green\") {\n        isGreenBtn = {\n            payload: true\n        };\n    }\n}\n\nreturn [\n    isGreenBtn,\n    isRedBtn\n];\n",
        "outputs": 2,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 470,
        "y": 300,
        "wires": [
            [
                "4876c41ab538860a",
                "3a6075416d7b828d"
            ],
            [
                "980ff94459af1702",
                "f914e3b10e9fbab3"
            ]
        ]
    },
    {
        "id": "4876c41ab538860a",
        "type": "debug",
        "z": "hand-detection-flow",
        "name": "OUT Green RAW",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 610,
        "y": 220,
        "wires": []
    },
    {
        "id": "980ff94459af1702",
        "type": "debug",
        "z": "hand-detection-flow",
        "name": "OUT Red RAW",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 600,
        "y": 400,
        "wires": []
    },
    {
        "id": "5ac66657e4846bd7",
        "type": "debug",
        "z": "hand-detection-flow",
        "name": "OUT Green",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 1250,
        "y": 180,
        "wires": []
    },
    {
        "id": "1b11828928bd1d43",
        "type": "debug",
        "z": "hand-detection-flow",
        "name": "OUT Red",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 1260,
        "y": 400,
        "wires": []
    },
    {
        "id": "f914e3b10e9fbab3",
        "type": "change",
        "z": "hand-detection-flow",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "red",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 720,
        "y": 340,
        "wires": [
            [
                "ba4ab6da8071c146"
            ]
        ]
    },
    {
        "id": "3a6075416d7b828d",
        "type": "change",
        "z": "hand-detection-flow",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "green",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 720,
        "y": 280,
        "wires": [
            [
                "f2df0a36a24f157e"
            ]
        ]
    },
    {
        "id": "9962a3494beb1165",
        "type": "serial out",
        "z": "hand-detection-flow",
        "name": "",
        "serial": "a87206ce492a1d44",
        "x": 1270,
        "y": 300,
        "wires": []
    },
    {
        "id": "f2df0a36a24f157e",
        "type": "rbe",
        "z": "hand-detection-flow",
        "name": "",
        "func": "rbe",
        "gap": "",
        "start": "",
        "inout": "out",
        "septopics": true,
        "property": "payload",
        "topi": "topic",
        "x": 970,
        "y": 260,
        "wires": [
            [
                "9962a3494beb1165",
                "5ac66657e4846bd7",
                "1a83f61d34b24c21"
            ]
        ]
    },
    {
        "id": "b9a069cdec4488c9",
        "type": "change",
        "z": "hand-detection-flow",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1000,
        "y": 140,
        "wires": [
            [
                "f2df0a36a24f157e"
            ]
        ]
    },
    {
        "id": "ba4ab6da8071c146",
        "type": "rbe",
        "z": "hand-detection-flow",
        "name": "",
        "func": "rbe",
        "gap": "",
        "start": "",
        "inout": "out",
        "septopics": true,
        "property": "payload",
        "topi": "topic",
        "x": 970,
        "y": 340,
        "wires": [
            [
                "9962a3494beb1165",
                "1b11828928bd1d43",
                "3d8eafaeae63f08b"
            ]
        ]
    },
    {
        "id": "1a83f61d34b24c21",
        "type": "delay",
        "z": "hand-detection-flow",
        "name": "",
        "pauseType": "delay",
        "timeout": "2",
        "timeoutUnits": "seconds",
        "rate": "1",
        "nbRateUnits": "1",
        "rateUnits": "second",
        "randomFirst": "1",
        "randomLast": "5",
        "randomUnits": "seconds",
        "drop": false,
        "allowrate": false,
        "outputs": 1,
        "x": 820,
        "y": 140,
        "wires": [
            [
                "b9a069cdec4488c9"
            ]
        ]
    },
    {
        "id": "3d8eafaeae63f08b",
        "type": "delay",
        "z": "hand-detection-flow",
        "name": "",
        "pauseType": "delay",
        "timeout": "2",
        "timeoutUnits": "seconds",
        "rate": "1",
        "nbRateUnits": "1",
        "rateUnits": "second",
        "randomFirst": "1",
        "randomLast": "5",
        "randomUnits": "seconds",
        "drop": false,
        "allowrate": false,
        "outputs": 1,
        "x": 820,
        "y": 440,
        "wires": [
            [
                "5d5b79807e8472a4"
            ]
        ]
    },
    {
        "id": "5d5b79807e8472a4",
        "type": "change",
        "z": "hand-detection-flow",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1000,
        "y": 440,
        "wires": [
            [
                "ba4ab6da8071c146"
            ]
        ]
    },
    {
        "id": "a87206ce492a1d44",
        "type": "serial-port",
        "name": "DOIT ESP32 DEVKIT V1",
        "serialport": "/dev/tty.usbserial-0001",
        "serialbaud": "115200",
        "databits": 8,
        "parity": "none",
        "stopbits": 1,
        "waitfor": "",
        "dtr": "none",
        "rts": "none",
        "cts": "none",
        "dsr": "none",
        "newline": "\\n",
        "bin": "false",
        "out": "char",
        "addchar": "",
        "responsetimeout": 10000
    }
]