node-red/flows.json
[
    {
        "id": "hand-detection-flow",
        "type": "tab",
        "label": "Hand Detection",
        "disabled": false,
        "info": "Flow for processing hand detection data from Python"
    },
    {
        "id": "f073f47f8e86641d",
        "type": "http in",
        "z": "hand-detection-flow",
        "name": "Hand Detection Input",
        "url": "/hand-detection",
        "method": "post",
        "upload": false,
        "swaggerDoc": "",
        "x": 140,
        "y": 200,
        "wires": [
            [
                "0ce82e519618b1ca"
            ]
        ]
    },
    {
        "id": "0ce82e519618b1ca",
        "type": "json",
        "z": "hand-detection-flow",
        "name": "",
        "property": "payload",
        "action": "",
        "pretty": false,
        "x": 190,
        "y": 300,
        "wires": [
            [
                "4f96e230c5e7be41"
            ]
        ]
    },
    {
        "id": "4f96e230c5e7be41",
        "type": "function",
        "z": "hand-detection-flow",
        "name": "Process Hand Data",
        "func": "if (msg.payload && msg.payload.data) {\n    // Extract the data field from the message\n    return {\n        payload: msg.payload.data\n    };\n} else if (typeof msg.payload === 'string') {\n    // Handle case where payload is a JSON string\n    try {\n        const parsed = JSON.parse(msg.payload);\n        if (parsed.data) {\n            return {\n                payload: parsed.data\n            };\n        }\n    } catch (e) {\n        node.error(\"Failed to parse JSON: \" + e.message, msg);\n    }\n}\n\n// Return original message if we couldn't extract data\nnode.warn(\"Could not extract data field from message\");\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 350,
        "y": 300,
        "wires": [
            [
                "4876c41ab538860a"
            ]
        ]
    },
    {
        "id": "4876c41ab538860a",
        "type": "debug",
        "z": "hand-detection-flow",
        "name": "Processed Hand Data",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 580,
        "y": 300,
        "wires": []
    }
]